# Dependencies
node_modules
bun.lockb

# Build outputs
dist

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
logs

# Testing
coverage
.vitest

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
