# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.nuxt
.output

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
logs

# Turbo
.turbo

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
