:root {
	--background: 0 0% 100% black;
	--background-block: 0 0% 98% black;
	--text: 0 0% 13% black;

	--brand: 213 100% 59% black;
	--brand-error: 0 72% 51% black;
	--brand-warning: 38 92% 50% black;
	--brand-success: 142 71% 45% black;

	--rounded-sm: 0.25rem;
	--rounded: 0.5rem;
	--rounded-lg: 1rem;

	--spacing-sm: 0.5rem;
	--spacing: 1rem;
}

.dark {
	color-scheme: dark;
	--background: 0 0% 7% black;
	--background-block: 0 0% 10% black;
	--text: 0 0% 90% black;

	/* ใช้ค่า brand เดิมแต่ปรับความสว่างให้เหมาะกับ dark mode */
	--brand: 213 100% 70% black;
	--brand-error: 0 72% 60% black;
	--brand-warning: 38 92% 60% black;
	--brand-success: 142 71% 55% black;
}
